<header>
   <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      aria-label="Eighth navbar example"
   >
      <div class="container">
         <a class="navbar-brand" href="#">
            <img
               src="/assets/digimon.png"
               alt=""
               height="70"
               class="d-inline-block align-text-top"
            />
         </a>
         <div class="d-flex align-items-center">
            <h3 class="text-white fw-bold"><%= nombre %> </h3>
            <div class="imgPerfil" style="background-image: url('<%= picture %>')"></div>
         </div>
         <div class="nav justify-content-end" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <a class="nav-link <%= title.includes("Home") ? "active" : null %>" aria-current="page" href="/">Inicio</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link <%= title.includes("MC") ? "active" : null %>" aria-current="page" href="/mycards">Mis Cards</a>
               </li>
               <% if (userId) { %>  
               <li class="nav-item">
                  <a class="nav-link <%= title.includes("Card") ? "active" : null %>" aria-current="page" href="/card/<%= userId %>">Crear cards</a>
               </li>
               <% } %>
               <li class="nav-item dropdown">
                  <a
                     class="nav-link dropdown-toggle <%= title.includes("Digimons") || title.includes("Emblemas") || title.includes("Digivices") || title.includes("Personajes") ? "active" : null %>"
                     href="#"
                     id="dropdown07"
                     data-bs-toggle="dropdown"
                     aria-expanded="false"
                     >Galeria</a
                  >
                  <ul
                     class="dropdown-menu"
                     aria-labelledby="dropdown07"
                  >
                     <li>
                        <a class="dropdown-item" href="/digimons"
                           >Digimons</a
                        >
                     </li>
                     <li>
                        <a class="dropdown-item" href="/emblemas">Emblemas</a>
                     </li>
                     <li>
                        <a
                           class="dropdown-item"
                           href="/digivices"
                           >Digivices</a
                        >
                     </li>
                     <li>
                        <a
                           class="dropdown-item"
                           href="/personajes"
                           >Personajes</a
                        >
                     </li>
                  </ul>
               </li> 
               <% if (!logueado) { %>  
               <li class="nav-item">
                  <a class="nav-link <%= title.includes("Crear cuenta") ? "active" : null %>" aria-current="page" href="/signup">Crear cuenta</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link <%= title.includes("Ingresar") ? "active" : null %>" aria-current="page" href="/login">Ingresar</a>
               </li>
               <% } else { %>
                  <li class="nav-item">
                     <a class="nav-link <%= title.includes("Salir") ? "active" : null %>" aria-current="page" href="/logout">Salir</a>
                  </li>
                  <% } %> 
            </ul>
         </div>
      </div>
   </nav>
</header>
